<ul id="topics">
	{{#topics}}
	<li>
		<a href="{{section}}">{{name}}</a>
	</li>
	{{/topics}}
</ul>
<div id='searchInfo'>
	<div class='reminder'>You currently have an active search : {{search}}</div>
	<button class='quitSearch'>Quit search</button>
</div>