@import "nib"
@import "fonts"

/*
 * HEADER
 */

#header-container

    background linear-gradient(top, #f3f3f3, #fff)
    border-bottom 1px solid #eee
    min-height 40px
    position absolute
    z-index 2
    width 100%
    top 0

    .header
        position relative
        overflow hidden

        h1
            margin 0 0 0 10px
            position relative

            &:before
                transition all .3s ease
                opacity 0
                margin 0
                position absolute
                top -50px /* Hide tiny square to prevent scrollbars flickering on header */
                left 0
                content "Y"
                noveCento noveM, 20px, #ddd, 40px
                width 40px
                height 40px
                z-index 2
                background linear-gradient(top, #555, #222)
                text-align center
            a
                &:hover
                    color #333

                float left
                noveCento noveN, 14px, #666, 40px
                text-decoration none
        #prefs
        #showTopics
            cursor pointer

            &:before
                line-height 40px
                float right
                color #666
                text-shadow 0 1px 0 #fff
                width 30px
                text-align center

            &:hover
                &:before
                    color #333

        #prefs
            &:before
                margin 0 10px 0 0

        #showTopics

            @media screen and (min-width : 599px)
                display none

    /* When user scroll more than header height from top, we show a tiny square */
    @media screen and (min-width : 599px)
        &.scrolled

            background none
            border: none
            position fixed
            top 0
            width 100%
            z-index 1

            .header
                overflow visible

                #prefs
                #showTopics
                    opacity 0
                h1
                    &:before
                        top 10px
                        opacity 1

                    a
                        opacity 0

            /* When user hover the tiny square, full header comes back */
            &.showMe
                background linear-gradient(top, #f3f3f3, #fff)
                border-bottom 1px solid #eee

                + #nav-container
                    display block
                    position fixed
                    top 0

                #prefs
                #showTopics
                h1 a
                    opacity 1

                /* Tiny square must then disappears and go left to let user access home link */
                h1:before
                    left -50px
                    opacity 0