@import "nib"
@import "fonts"

/*
 * NAVIGATION
 */

#nav-container

    position absolute
    z-index 3
    top 0
    width calc(100% \- 300px)
    margin 0 230px 0 80px
    transition top .5s

    #topics
        list-style none
        text-align center
        margin 0 80px
        padding 8px 0 5px

        li
            display inline
            customFont(noveM, 12px, #666, 200%)

            &:after
                content "|"
                margin 0 2px
                color #ccc

            &:last-child:after
                content none
                margin 0
            a
                color #666
                text-decoration none

                &:hover
                    color #333
            &.active
                a
                a:hover
                a:focus
                    color #FF3300



    @media screen and (max-width : 599px)

        #topics
            margin 0

            li
                display block

                &:after
                    content none


header.scrolled + #nav-container
	display none